.explore-main {
  height: fit-content;
  background-image: linear-gradient(to top, $primaryGreen, $primaryWhite);

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    h1 {
      margin-top: 3rem;
      color : $primaryGreen;
      
    }
  }
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  grid-gap: 1.5rem;
  grid-auto-rows: 20rem;
  padding: 1.5rem;
    
  .explore-grid-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 1rem;

    div {
      margin-top: 0.7rem;
      height: 60%;
      width: 100%;
      margin-bottom: 1rem;
      background-image: url('https://d2u3dcdbebyaiu.cloudfront.net/uploads/atch_img/992/304488265f95db7dec2c31a144339d98_crop.png');

    }
    
    a {
      padding : 1rem;
      background-color: $primaryGreen;
      border-radius: 1rem;
      color : white;
    }

    p {
      width: 95%;
      margin-bottom: 1rem;
    }
  }
}
